<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/LeonNoteCore.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="LeonNoteCore.ico" type="image/x-icon" />
    <title>@ViewData["Title"] - LeonNoteCore</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-brand">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#MainNavbar" aria-controls="MainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">LeonNoteCore</a>
            </div>

            <div class="collapse navbar-collapse" id="MainNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("主页", "Index", "Home", new { area = "" }, new { id = "NavbarHome", @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("发表", "Publish", "Note", new { area = "" }, new { id = "NavbarPublish", @class = "nav-link" })
                    </li>
                    <!--
    <li class="nav-item">
        @Html.ActionLink("关于", "About", "Home", new { area = "" }, new { id = "NavbarNote", @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("联系", "Contact", "Home", new { area = "" }, new { id = "NavbarUser", @class = "nav-link" })
    </li>
    -->
                </ul>

                <div class="nav-item btn-lg dropdown navbar-brand">
                    @{
                        var User = (Context.Session.Get<User>("User")) ?? null;
                        if (User == null)
                        {
                            @Html.ActionLink("登录", "Login", "Account", new { area = "" }, new { id = "Login", @class = "btn btn-primary" })
                        }
                        else
                        {
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" data-target="#UserDropdownMenu" aria-controls="UserDropdownMenu" aria-haspopup="true" aria-expanded="false">
                                @User.UserName
                            </button>
                            <div class="dropdown dropdown-menu" aria-labelledby="UserDropdown" id="UserDropdownMenu">
                                @Html.ActionLink("资料", "Contact", "Home", new { area = "" }, new { id = "UserInfo", @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("注销", "Logoff", "Account", new { area = "" }, new { id = "Logoff", @class = "dropdown-item" })
                            </div>
                            }
                        }
                    </div>
            </div>
        </div>
    </nav>

    <!--    
    <partial name="_CookieConsentPartial" />
    -->

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="border-top text-muted">
        <div class="container">
            <p>&copy; 2018 - LeonNoteCore</p>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                >
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
