<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Leon Note</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container">
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">Leon Note</div>
                </div>
                <div class="collapse navbar-collapse">
                    <ul>
                        <li>
                            <a href="#">User Name</a>
                        </li>
                        <li>
                            <a href="">Login | Logoff</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--
    <div class="nav navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                @Html.ActionLink("Leon Note", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("发布", "Index", "Home")</li>
                    <li>@Html.ActionLink("笔记", "About", "Home")</li>
                    <li>@Html.ActionLink("用户", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    -->
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <nav class="navbar text-center">
                &copy; Leon Note @DateTime.Now.Year
            </nav>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
