<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Leon Note</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding:0px">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink("Leon Note", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MainNavbar" aria-controls="MainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="MainNavbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                                @Html.ActionLink("发布", "Publish", "Home", new { area = "" }, new { id = "NavbarPublish", @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                                @Html.ActionLink("笔记", "Notes", "Home", new { area = "" }, new { id = "NavbarNote", @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                                @Html.ActionLink("用户", "User", "Home", new { area = "" }, new { id = "NavbarUser", @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <form class="form-inline my-2 my-md-0" method="post" action="~/Search/Index">
                                <input class="form-control" type="text" placeholder="搜索" aria-label="搜索">
                                <button type="submit" class="btn btn-secondary">搜索</button>
                            </form>
                        </li>
                    </ul>

                    <div class="nav-item btn-lg dropdown navbar-brand">
                        @{
                            var User = (Session["User"] as User) ?? null;
                            if (User == null)
                            {
                                @Html.ActionLink("登录", "Login", "Account", new { area = "" }, new { id = "Loginn", @class = "btn btn-primary" })
                            }
                            else
                            {
                                <a class="dropdown-toggle" id="UserDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.UserName
                                </a>
                                <div class="dropdown-menu" aria-labelledby="UserDropdown">
                                    @Html.ActionLink("资料", "Contact", "Home", new { area = "" }, new { id = "UserInfo", @class = "dropdown-item" })
                                    @Html.ActionLink("注销", "Logoff", "Account", new { area = "" }, new { id = "Logoff", @class = "dropdown-item" })
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <h2 class="card-header">@ViewBag.Title</h2>

    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <nav class="navbar text-center fixed-bottom">
                &copy; Leon Note @DateTime.Now.Year
            </nav>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
