@model List<Note>
    @{
        ViewBag.Title = "欢迎访问，Leon Note";
    }

    <div class="jumbotron">
        <h1>Leon Note</h1>
        <p class="lead">欢迎访问我的第一个 ASP.NET MVC 程序~</p>
        <p><a href="https://github.com/CuteLeon/LeonNote" class="btn btn-primary btn-lg">此程序 Github 仓库 &raquo;</a></p>
    </div>

    <hr />
@{
    User user = Session["User"] as User;
    if (user != null)
    {
        <div class="container">
            <h5>@user.UserName  的笔记：</h5>
            @{
                if (Model == null || Model.Count == 0)
                {
                    <h5 class="text-center">没有发表过笔记 ...</h5>
                }
                else
                {
                    <table class="table table-bordered table-hover table-light table-striped">
                        <tr>
                            <td colspan="6">
                                @Html.ActionLink("发表", "Publish", "Home", new { area = "" }, new { id = "Publish", @class = "btn btn-primary"})
                            </td>
                        </tr>
                        <thead>
                            <tr>
                                <th>笔记编号</th>
                                <th>标题</th>
                                <th>内容</th>
                                <th>发布时间</th>
                                <th>发布者</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var note in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(n => note.Id)</td>
                                    <td>@note.Title</td>
                                    <td>@note.Content</td>
                                    <td>@note.PublishTime</td>
                                    <td>@note.User.UserName</td>
                                    <td style="padding:0.5rem">
                                        <a href="@Url.Content(string.Format(@"~/Home/Detail/?id={0}", note.Id))" class="btn btn-primary btn-sm" style="margin-top:0px;margin-bottom:0px">查看</a>
                                        <a href="@Url.Content(string.Format(@"~/Home/Edit/?id={0}", note.Id))" class="btn btn-info btn-sm" style="margin-top:0px;margin-bottom:0px">编辑</a>
                                        <a href="@Url.Content(string.Format(@"~/Home/Remove/?id={0}", note.Id))" class="btn btn-danger btn-sm" style="margin-top:0px;margin-bottom:0px">删除</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table> 
                }
            }
        </div>
    }
    else
    {
        <h5 class="text-center">还没有登录，请先 <a href="@Url.Content("~/Account/Login/")">登录</a></h5>
    }
}