@model List<Note>
    @{
        ViewBag.Title = "欢迎访问，Leon Note";
    }

    <div class="jumbotron">
        <h1>Leon Note</h1>
        <p class="lead">欢迎访问我的第一个 ASP.NET MVC 程序~</p>
        <p><a href="https://github.com/CuteLeon/LeonNote" class="btn btn-primary btn-lg">此程序 Github 仓库 &raquo;</a></p>
    </div>

    <hr />

    <div class="container">
        <h4>@((Session["User"] as User)?.UserName)  的笔记：</h4>
        <table class="table table-bordered table-hover table-light table-striped">
            <thead>
                <tr>
                    <th>笔记编号</th>
                    <th>标题</th>
                    <th>内容</th>
                    <th>发布时间</th>
                    <th>发布者</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var note in Model.Select(note => new
                    {
                        笔记编号 = note.Id,
                        标题 = note.Title,
                        内容 = note.Content,
                        发布时间 = note.PublishTime,
                        发布者 = note.User.UserName
                    }).ToList())
                    {
                <tr>
                    <td>@Html.DisplayFor(n=>note.笔记编号)</td>
                    <td>@note.标题</td>
                    <td>@note.内容</td>
                    <td>@note.发布时间</td>
                    <td>@note.发布者</td>
                </tr>
                    }
                }
            </tbody>
        </table> 
    </div>