@model List<Note>
@{
    ViewData["Title"] = "欢迎访问 Leon Note .";
}

@{
    User user = Context.Session.Get<User>("User") as User;
    if (user != null)
    {
        <div class="container container-fluid">
            @{
                if (Model == null || Model.Count == 0)
                {
                    <div class="container container-fluid align-content-center  text-center" style="padding-top:10%; padding-bottom:10%">
                        <h5 class="text-center">亲爱的 @user.UserName ，您还没有发表过笔记 ...</h5>
                        <br />
                        @Html.ActionLink("发表一条笔记试试吧~", "Publish", "Note", new { area = "" }, new { id = "Publish", @class = "btn btn-lg btn-primary" })
                    </div>
                }
                else
                {
                    <h3>@user.UserName  的笔记：</h3>
                    <br />

                    <div class="card">
                        @Html.ActionLink("发表一条笔记", "Publish", "Note", new { area = "" }, new { id = "Publish", @class = "card-body bg-primary text-white" })
                    </div>
                    <br />

                    @foreach (var note in Model)
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h5>@note.Title<small class="text-secondary float-right">@note.PublishTime</small></h5>
                                </div>
                                <p class="card-text">@note.Content</p>
                                <div class="float-right">
                                    <a href="@Url.Content(string.Format(@"~/Note/Detail/?id={0}", note.Id))" class="card-link text-primary">查看</a>
                                    <a href="@Url.Content(string.Format(@"~/Note/Edit/?id={0}", note.Id))" class="card-link text-info">编辑</a>
                                    <a href="@Url.Content(string.Format(@"~/Note/Remove/?id={0}", note.Id))" class="card-link text-danger">删除</a>
                                </div>
                            </div>
                        </div>
                        <br />
                    }
                }
            }
        </div>
    }
    else
    {
        <div class="container container-fluid align-content-center  text-center" style="padding-top:10%; padding-bottom:10%">
            <h5 class="text-center">您好，登录后可以访问更多功能哦~   (〃'▽'〃)</h5>
            <br />
            <div class="btn-group btn-group-lg">
                @Html.ActionLink("登录", "Login", "Account", new { area = "" }, new { @class = "btn btn-lg btn-success" })
                @Html.ActionLink("注册", "Register", "Account", new { area = "" }, new { @class = "btn btn-lg btn-primary" })
            </div>
        </div>
    }
}

