@model User

@{
    ViewData["Title"] = "用户登录";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false);

    <div class="container">
        <h4 class="text-primary">欢迎回来 ~</h4>
        <br/>
        <div class="form-group">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "请输入用户名", required = "required" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "请输入密码", required = "required" })
        </div>
        <div class="btn-group btn-group-lg float-right">
            <button type="submit" class="btn btn-primary" id="LoginButton">登录</button>
            <button type="button" class="btn btn-success" onclick="GotoRegister();" id="RegisterButton">注册</button>
        </div>
        <div class="clearfix"></div>
    </div>
}

<script type="text/javascript">
    function GotoRegister() {
        location.href = "@Url.Content("~/Account/Register")";
    }
</script>
