@model LeonNoteCore.Models.Note

@{
    ViewData["Title"] = "查看笔记";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Content(string.Format(@"~/Note/Edit/?id={0}", @Model.Id))" class="btn btn-primary">编辑</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-default">返回列表</a>
</div>
