@model LeonNoteCore.Models.Note

@{
    ViewData["Title"] = "编辑笔记";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false);
    <h5>正在编辑 : @Model.Title</h5>
    <hr />

    <div class="form-group">
        @Html.LabelFor(n => n.Title)
        @Html.TextBoxFor(n => n.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.Content)
        @Html.TextBoxFor(n => n.Content, new { @class = "form-control" })
    </div>
    <p class="text-right">
        <button type="submit" class="btn btn-primary">保存</button>|
        <a asp-controller="Home" asp-action="Index" class="btn btn-default">返回列表</a>
    </p>
}